/*---------------- Body Section ----------------*/
body {
    background-color: #ffffff;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
/*---------------- Body Section ----------------*/

/*---------------- Navigation Section ----------------*/
.scroll-up {
    height: 75px;
    width: 75px;
    text-decoration: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
}
/*---------------- Navigation Section ----------------*/

/*--------------- Carousel ---------------*/
.carousel-main-text {
    font-size: 100px;
    color: #ffffff;
    font-family: 'Great Vibes', cursive;
}
.carousel-sec-text {
    font-size: 40px;
    color: #ffffff;
}
/*--------------- Carousel ---------------*/

/*--------------- Our mission ---------------*/
.display-2 {
    background-color: #ffffff;
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 50px;
    color: #e476ba;
    font-family: 'Great Vibes', cursive;
}
.btn {
    width: 150px;
    background-color: #df4ca6;
    color: #ffffff;
    border: 2px solid #e69dca;
    border-radius: 25px;
    font-size: 18px;
    padding: 2px;
    margin-left: 12vw;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.btn:hover {
    background-color: #e69dca;
    border: 2px solid #e69dca;
}
.card-title {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: #e476ba;
    margin-top: 10px;
    margin-bottom: 20px;
}
.card-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #e476ba;
    margin-top: 0px;
    margin-bottom: 20px;
}
.card {
    border: 1px solid #e69dca;
    height: 590px;
}
#our-mission {
    width: 80vw;
}
.lead {
    background-color: #ffffff;
    text-align: center;
    font-size: 18px;
    color: #e476ba;
    font-family: Arial, Helvetica, sans-serif;
}
/*--------------- Our mission ---------------*/

/*--------------- Our shop ---------------*/
#our-shop {
    width: 80vw;
}

#btn_our_shop{
    width: 370px;
    height: 5vh;
    text-align: center;
    background-color: #df4ca6;
    color: #ffffff;
    border: 2px solid #e69dca;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 2px;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#btn_our_shop:hover {
    background-color: #e69dca;
    border: 2px solid #e69dca;
}

#h1_our_shop {
    font-size: 70px;
    font-weight: 600;
}
/*--------------- Our shop ---------------*/

/*--------------- Footer Section ---------------*/
footer {
    background-color: #e476ba;
}
#footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    padding: 60px;
}
#contact-form {
    background-color:#e476ba;
}
input[type=text] {
    width: 235px;
    background-color: #e476ba;
    color: #ffffff;
    border: 2px solid #e69dca;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=email] {
    width: 235px;
    background-color: #e476ba;
    color: #ffffff;
    border: 2px solid #e69dca;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=subject] {
    width: 480px;
    background-color: #e476ba;
    color: #ffffff;
    border: 2px solid #e69dca;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea[name=message] {
    width: 480px;
    background-color: #e476ba;
    color: #ffffff;
    border: 2px solid #e69dca;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=submit] {
    width: 150px;
    background-color: #df4ca6;
    color: #ffffff;
    border: 2px solid #e69dca;
    border-radius: 25px;
    font-size: 20px;
    padding: 2px;
    margin-left: 342px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #e69dca;
}
.footer-text {
    background-color: #e476ba;
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Great Vibes', cursive;
}
.social-icons {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    background-color:#e476ba;
    height: 50px;
}
#fb {
    float: left;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
    cursor: pointer;
}
#fb:hover {
    background-color: #4668b3;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
}
#yt {
    float: left;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
    cursor: pointer;
}
#yt:hover {
    background-color: #d94348;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
}
#in {
    float: left;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
    cursor: pointer;
}
#in:hover {
    background-color: #2867b2;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
}
#tw {
    float: left;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
    cursor: pointer;
}
#tw:hover {
    background-color: #3095d3;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
}
#is {
    float: left;
    background-color: transparent;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
    cursor: pointer;
}
#is:hover {
    background-color: #833ab4;
    color: white;
    border-radius: 100%;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.18rem;
    margin: 0 1.5rem;
    text-align: center;
}
.copyright {
    background-color: #000000;
    color: #dddddd;
    height: 30px;
    font-size: 12px;
    text-align: center;
    padding: 4px;
}
a.copyrightlink {
    color: #ffffff;
    text-decoration: none;
}
a.copyrightlink:hover {
    color: red;
    text-decoration: none;
}
/*--------------- Footer Section ---------------*/

.header_type_3_logo_responsive { display: none; float: left; }
.nicdark_space70{ height: 70px; width: 100%; float: left; }
.nicdark_relative{ position:relative;}  

.zoom
{
-webkit-transition:all 500ms;
-o-transition:all 500ms;
transition:all 500ms;
}
.zoom:hover	
{
-webkit-transform:scale(1.3, 1.3);
-o-transform:scale(1.3, 1.3);
transform:scale(1.3, 1.3);
}
.zoom_2
{
-webkit-transition:all 500ms;
-o-transition:all 500ms;
transition:all 500ms;
}
.zoom_2:hover	
{
-webkit-transform:scale(1.1,1.1);
-o-transform:scale(1.1, 1.1);
transform:scale(1.1, 1.1);
} 

.nicdark_menu_type_3 .menu  > li > a { 
    color: #e476ba; 
    font-size: 30px !important;
    font-family: 'Great Vibes', cursive;
}

.nicdark_menu_type_3 .menu  > li > a:hover {
    color: #e69dca; 
}

.menu .sub-menu {
    background-color: white; 
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.menu .sub-menu li > a {
    color: #e476ba; 
    font-size: 15px;
}

.menu .sub-menu li > a:hover {
    color: #e69dca; 
}


.menu  .white .sub-menu a, .menu  .grey .sub-menu a { color: #a4a4a4; } 
.menu  > .grey .sub-menu li:last-child{ box-shadow: 0px 4px 0px 0px #f1f1f1; } 
.menu  > .grey:not(.nicdark_megamenu) > .sub-menu li:hover, .nicdark_megamenu.grey > ul > li > a{ background-color:#f1f1f1; } 
.nicdark_megamenu.grey ol li a{ border-right: 1px solid #f1f1f1; }  
.menu  * { margin: 0; padding: 0; list-style: none; }
.menu  { float: left; margin: 0px 10px; padding: 5px 0px !important; } 

.menu  > li > a:last-child{ margin-right: 10px; } 
.menu  a { display: block; position: relative; -webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;transition: all 0.5s ease;}
.menu  a { text-decoration: none; zoom: 1; } 
.menu  li ul a { padding: 15px 25px; text-align: left; font-size: 14px; } 
.menu  > li { float: left; }
.menu  li { white-space: nowrap;  -webkit-transition: background .2s; transition: background .2s; position: relative; } 
.menu  ul { position: absolute; display: none; top: 100%; margin-left: -25px; z-index: 99; min-width: 12em; padding-top:34px; margin-top:0px; }


.menu  li:hover > ul, .menu  li.sfHover > ul { display: block; } 
.nicdark_menu_type_3 .menu  > li > a:after{ content: none; }
.nicdark_menu_type_3 .menu  > li > a { font-size: 20px;}
.nicdark_menu_type_3 .menu  > li { padding: 20px 10px; margin: 0px 10px;  }
.nicdark_menu_type_3 .nicdark_right .menu, .nicdark_menu_type_3 .nicdark_right .menu > li { float: right; }
.nicdark_container{ width: 1200px; margin:auto; padding: 0px; }
.nicdark_site { float: left; width: 100%; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }
.nicdark_section { width: 100%; float: left; }   .grid_2, .grid_5, .grid_12{ margin:10px; float:left; display:inline; }
.grid_12.percentage {width:100%;}
.grid_2 {width:180px;}
.grid_5 {width:480px;}


