{% extends 'main.html' %}
{% load static %}
{% block content %}
    <html lang="pl">

<div class="title">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <strong>Cart</strong>
</div>

<body>
    <main>
        <div class="cart">
            <div class="cart-module">
                <label for="promo-code">Masz kod promocyjny?</label>
                <input id="promo-code" type="text" name="promo-code" maxlength="5" class="promo-code-field">
                <button class="promo-code-cta">Apply</button>
            </div>
        </div>
    </main>

<div class="cart-labels">
    <ul>
        <li class="item item-heading">Produkt</li>
        <li class="price">Cena</li>
        <li class="quantity">Ilość</li>
        <li class="subtotal">Podsumowanie</li>
    </ul>
</div>

</body>

    <div class="cart-product">
        <div class="{% for item in items %}">

            <div class="product-image">
                <img src="{{ item.product.imageURL }}" height="206" width="246">

                <div class="product-details">
                    <h4><strong><span class="summary-total-items"><p title="x{{ item.quantity }}"></p></span><p title="{{ item.product.name }}"></p></strong></h4>
                </div>

            </div>
            <div class="price">{{item.product.price|floatformat:2 }}</divclass>
            <div class="quantity">
                <input type="number" name="myInput" value="1" min="1" max="100" step="1">
                <img data-product="{{ item.product.id }}" data-action="add" class="update-cart" src="{% static 'images/arrow-up.png' %}">
                <img data-product="{{ item.product.id }}" data-action="remove" class="update-cart" src="{% static 'images/arrow-down.png' %}">
            </div>
            <div>{{ item.get_total|floatformat:2 }}</div>
        </div>
        {% endfor %}
    </div>
    </html>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% endblock content %}

<div>
    <p>Items: {{ order.get_cart_items }}</p>
    <p>Total: {{ order.get_cart_total|floatformat:2 }} PLN</p>
</div>