<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarmeLove</title>

</head>
<body>

    <div>
        <a href="{% url 'cart' %}">Cart</a>
        <a href="{% url 'checkout' %}">Checkout</a>
        <a href="{% url 'orders_history' %}">Orders History</a>

    </div>

    <div>
        <strong><a href="{% url 'home' %}">HOME</a></strong>
        <strong><a href="{% url 'store' %}">Store</a></strong>
        <strong><a href="{% url 'cart' %}">Cart</a></strong>
        <strong><a href="{% url 'checkout' %}">Checkout</a></strong>
    </div>
    <div>
        {% for category in categories %}
            <strong><a href="{% url 'category' category.id %}">{{ category.name }}</a></strong>
        {% endfor %}
    </div>
    <p>Products in Cart: {{ cart_items }}</p>
    {% block content %}
    {% endblock content %}
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>
