{% extends 'main.html' %}
{% load static %}
{% block content %}

<div>
    <p>SIMPLE NAV JUST FOR NOW</p>
    <p><a href="{% url 'orders_history' %}">Orders History</a></p>
    <p><a href="{% url 'favourites' %}">Favourites</a></p>
    <p>Products in Cart: {{ cart_items }}</p>

    <div>
        {% for category in categories %}
            <strong><a href="{% url 'category' category.id %}">{{ category.name }}</a></strong>
        {% endfor %}
    </div>
</div>

<div>
    <h3>Order History</h3>
    <hr>
    <a href="{% url 'orders_history' %}">Back to Orders History</a>
    <div>
        {{ customer }}
        <hr>
        <div>
            <p>Order no: {{ history_order }}</p>
            <p>Date: {{ history_order.date_ordered.date }}</p>
            <p>Time: {{ history_order.date_ordered.time }}</p>
            <hr>
            {% for history_item in history_items %}
                <div><img src="{{ history_item.product.imageURL }}"></div>
                <div>Name: {{ history_item.product.name }}</div>
                <div>Price: {{ history_item.product.price|floatformat:2 }}</div>
                <div>Quantity: x{{ history_item.quantity }}</div>
                <div>Total price for product: {{ history_item.get_total|floatformat:2 }}</div>
            {% endfor %}
            <p>Total price for order: {{ history_order.get_cart_total|floatformat:2 }}</p>
            <p>Products in order: {{ history_order.get_cart_items }}</p>
        </div>
    </div>
</div>

{% endblock content %}

