{% extends 'main.html' %}
{% load static %}
{% block content %}

<div>
    <p>SIMPLE NAV JUST FOR NOW</p>
    <p><a href="{% url 'orders_history' %}">Orders History</a></p>
    <p><a href="{% url 'favourites' %}">Favourites</a></p>
    <p>Products in Cart: {{ cart_items }}</p>

    <div>
        {% for category in categories %}
            <strong><a href="{% url 'category' category.id %}">{{ category.name }}</a></strong>
        {% endfor %}
    </div>
</div>

<div>
    {{ customer }}
    <hr>
    {% if user_orders %}
        <div>
            {% for user_order in user_orders %}
            <p>No: {{ forloop.counter }}</p>
            <p>Order no:{{ user_order.id }}</p>
            <p>Date: {{ user_order.date_ordered.date }}</p>
            <p>Time: {{ user_order.date_ordered.time }}</p>
            <p>Total: {{ user_order.get_cart_total }}</p>
            <p>Items: {{ user_order.get_cart_items }}</p>
            <a href="{% url 'order_history' user_order.id %}">Order Details</a>
            <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>You have no completed orders.</p>
    {% endif %}
</div>

{% endblock content %}
